<div class="row">
  <div class="col-sm-10">
    <% @contents.each do |content| %>
	    <div class="row">
	      <div class="card card-block">
	        <h3 class="card-title"> <%= content.title %></h3>
	        <p class="card-text"><%= content.description %></p>
	        <p><%= link_to 'Download', download_file_path(:id=>content.id), :target => "_tab" %></p>
	      </div>
	    </div>
    <% end %>
  </div>
  <div class="col-sm-2">
 	   <div class="card card-block">
	        <h3 class="card-title"> Leader Board</h3>
	    </div>

  </div>  
</div>