/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 //= require_tree .
 */

$red: #e74c3c;
$green: #16a085;
$blue: #3498db;
html,
body {
  background: #222;
}

ul {
  -moz-column-count: 3;
  -moz-column-gap: 50px;
  -webkit-column-count: 3;
  -webkit-column-gap: 50px;
  column-count: 3;
  column-gap: 50px;
}

li {
  overflow: hidden;
}

.card {
  margin-top: 50px;
  font-family: 'Roboto', sans-serif;
  color: #444;
  border: 1px solid #999;
  border-radius: 4px;
  background: #eee;
  text-align: center;
  padding-top: 30px;
  float: left;
  :before {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    font-size: 28px;
    font-style: normal;
    left: 50%;
    line-height: 60px;
    position: absolute;
    top: -30px;
    width: 60px;
  }
  .card-question {
    margin: 20px 0 20px;
    font-size: 150%;
  }
  .card-separator {
    width: 100%;
    margin: 10px 0 10px 0;
  }
  a {
    text-decoration: none;
    color: #7f8c8d;
  }
}

.card-red {
  border-top: 4px solid $red;
  :before {
    color: $red;
    content: "\f0f5";
    font-family: 'FontAwesome';
  }
  .card-separator {
    border: 1px solid $red;
  }
  .card-answer-separator {
    border: 1px dotted $red;
  }
}

.card-green {
  border-top: 4px solid $green;
  :before {
    color: $green;
    content: "\f007";
    font-family: 'FontAwesome';
  }
  .card-separator {
    border: 1px solid $green;
  }
}

.card-blue {
  border-top: 4px solid $blue;
  :before {
    color: $blue;
    content: "\f0ac";
    font-family: 'FontAwesome';
  }
  .card-separator {
    border: 1px solid $blue;
  }
}